$slide-count: 5;
$slide-width: 30rem;


.carousel__wrap {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__inner {
    height: 20rem;
    position: relative;
    width: calc(#{$slide-width * 3});
}

.carousel__container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel__slide_list {
    height: 100%;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    width: calc(#{($slide-count + 0.5) * $slide-width * 2});
}

.carousel__slide_item {
    display: inline-block;
    height: $slide-width;
    margin: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s;
    width: $slide-width;
}

.carousel__slide_item_img_link {
    cursor: zoom-in;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        height: 200px;
        object-fit: cover;
        transition: all 0.5s ease;
        // width: 300px;
        border-color: yellow;
    }

    // &::after {
    //     align-items: center;
    //     // background: rgba(black, 0.5);
    //     // color: white;
    //     background-color: yellowgreen;
    //     display: flex;
    //     // height: 200px;
    //     justify-content: center;
    //     // opacity: 0;
    //     position: absolute;
    //     transition: all 0.5s ease;
    //     // width: 300px;
    // }

    &:hover {
        // &::after {
        //     opacity: 1;
        // }

        img {
            transform: scale(1.3);
        }
    }
}


.carousel__dots {
    display: inline-block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    .dot {
        background: #ccc;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 2rem;
        outline: none;
        transform: scale(0.5);
        width: 2rem;

        &.active {
            background: black;
        }
    }
}
